---
import { className } from "../../../utils/theme-functions.mjs";
---

<div
  class="col-span-2 flex flex-col content-between text-white bg-[#0d1f37]/50 rounded-2xl p-12"
>
  <h2 class="text-[4.5em] font-black uppercase leading-[1.05em]">
    Explorando el sertón,
  </h2>
  <h3 class="text-[4.5em] font-black uppercase leading-[1.05em]">
    conquistando el Brasil
  </h3>
  <p
    class="my-12 p-4 text-lg text-white text-justify leading-8 bg-[#0d1f37]/75 shadow-inner rounded-lg"
  >
    Este sítio és uno de los productos que resultán de la investigación
    "Explorando el sertón, conquistando el Brasil: la Expedición Roncador Xingu
    e la Fundación Brasil Central en Mato Grosso (1943-1967)", que buscó
    compreender la manera cómo la Expedición Roncador-Xingu fue realizada e,
    también, acerca de la participación de la Fundación Brasil Central en la
    Expedición de los Ermanos Villas-Boas, que se passó en el este del estado de
    Mato Grosso, en la región del Vale del Araguaia. Su deserrollo ocurrió bajo
    la supervisión del mestre Luiz Gabriel de Souza Nogueira, la investigación
    aún tuve la participación de estudiantes de la <a
      href="https://www.instagram.com/escolatiradentesab/"
      class="text-sky-400 hover:text-stone-400"
      title="Escuela Estatal Militar Tiradentes 3° Sgt PM Justino Pinheiro 
      dos Santos"
      target="_blank"
      rel="noreferrer noopener"
      >Escuela Estatal Militar Tiradentes 3° Sgt PM Justino Pinheiro dos Santos</a
    >, situada en la ciudad de Água Boa, en el estado de Mato Grosso. Esta
    investigación recebió apoyo financeiro de la <a
      href="https://www.fapemat.mt.gov.br/"
      title="Fundación de Apoyo a la Investigación del Estado 
      de Mato Grosso - Fapemat"
      target="_blank"
      rel="noreferrer noopener"
      class="text-sky-400 hover:text-stone-400"
    >
      Fundación de Apoyo a la Investigación del Estado de Mato Grosso - Fapemat</a
    >.
  </p>
  <a
    href="/acerca-del-proyecto"
    class={className(
      "w-max py-3 px-5 text-white font-semibold bg-emerald-500 rounded-md",
      "transition-colors duration-300 hover:text-[#0d1f37] hover:bg-white"
    )}>Más información</a
  >
</div>
<div class="text-white">Outras coisas</div>
