---
import ExperienceReportsBase from "../partials/ExperienceReportsBase.astro";
---

<ExperienceReportsBase>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non adipisci ullam maxime quidem ducimus reprehenderit culpa minima, fugiat possimus deleniti!
    </p>
</ExperienceReportsBase>