---
import { className } from "../../../utils/theme-functions.mjs";
---

<div
  class="col-span-2 flex flex-col content-between text-white bg-[#0d1f37]/50 rounded-2xl p-12"
>
  <h2 class="text-[4.5em] font-black uppercase leading-[1.05em]">
    Exploring the wilderness,
  </h2>
  <h3 class="text-[4.5em] font-black uppercase leading-[1.05em]">
    Conquering the Brazil
  </h3>
  <p
    class="my-12 p-4 text-lg text-white text-justify leading-8 bg-[#0d1f37]/75 shadow-inner rounded-lg"
  >
    This site is one of products that resulting of research "Exploring the
    wilderness, conquering the Brazil: the Exploration Roncador Xingu and the
    Brasil Central Fundation in Mato Grosso state (1943-1967)", a investigation
    about the methods of the Expedition Roncador-Xingu and the action of the
    Brasil Central Fundation in the Villas-Boas Brothers Expedition, occoured in
    the est of Mato Grosso state, in the Araguaia Valley region. The teacher Ms.
    Luiz Gabriel de Souza Nogueira oversaw the investigation process that had
    the participation of students of the <a
      href="https://www.instagram.com/escolatiradentesab/"
      class="text-sky-400
      hover:text-stone-400"
      title="3° Sgt PM Justino Pinheiro dos Santos - Tiradentes Military State School"
      target="_blank"
      rel="noreferrer noopener"
      >3° Sgt PM Justino Pinheiro dos Santos - Tiradentes Military State School</a
    >, situed in Água Boa county, Mato Grosso state. This research received
    financial support of
    <a
      href="https://www.fapemat.mt.gov.br/"
      title="Mato Grosso State Research Support Fundation - Fapemat"
      target="_blank"
      rel="noreferrer noopener"
      class="text-sky-400 hover:text-stone-400"
      >Mato Grosso State Research Support Fundation - (Fapemat)</a
    >.
  </p>
  <a
    href="/about-project"
    class={className(
      "w-max py-3 px-5 text-white font-semibold bg-emerald-500 rounded-md",
      "transition-colors duration-300 hover:text-[#0d1f37] hover:bg-white"
    )}>Learn more</a
  >
</div>
<div class="text-white">Outras coisas</div>
