---
import CreditsBase from "./partials/CreditsBase.astro";
const credits = [
  {
    office: "Presidente da Fapemat",
    name: "Marcos de Sá Fernandes da Silva",
  },
  {
    office: "Diretor da EE Militar Tiradentes – Água Boa/MT",
    name: "Lionai Rodrigo Galvão de Sousa - 1º Ten PM",
  },
  {
    office: "Autor e Supervisor do Projeto",
    name: "Luiz Gabriel de Souza Nogueira",
  },
  {
    office: "Alunos-Pesquisadores",
    name: "<p class='w-full my-0 text-center'>Joana da Silva <br /> Maria Flor <br /> Josefa das Dores <br /> João dos Santos</p>",
  },  
  {
    office: "Programação Visual e Desenvolvimento",
    name: "José Augusto dos Santos Moraes",
  },
];
---

<CreditsBase>
  <ul class="w-full h-max flex flex-col text-slate-800">
    {
      credits.map((credit) => {
        return (
          <li class="w-full h-max flex flex-col justify-center items-center">
            <strong class="my-0">{credit.office}</strong>
            <span class="my-0" set:html={credit.name} />
          </li>
        );
      })
    }
  </ul>
</CreditsBase>
