---
import AboutBase from "./partials/AboutBase.astro";
---

<AboutBase>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non adipisci ullam maxime quidem ducimus reprehenderit culpa minima, fugiat possimus deleniti!
    </p>
</AboutBase>