---
import AboutBase from "./partials/AboutBase.astro";
---

<AboutBase>
    <p>
        A expedição Roncador-Xingu chegou a Barra Goiana em agosto de 1943. A primeira base de operações da FBC foi instalada na margem direita do rio Araguaia, no pontal do rio das Garças. Posteriormente, por sugestão do presidente da FBC, João Alberto Lins de Barros, a cidade passou a se denominar Aragarças, fusão dos nomes dos rios Araguaia e Garças.
    </p>
</AboutBase>