---
import Layout from "../layouts/Layout.astro";
import TimeLine from "../components/TimeLine.astro";
const timeline = [
  {
    year: "1943",
    title: "Título alusivo ao ano de 1943",
    content: "Alugm texto ou imagem alusivo ao ano de 1943",
    image: "https://source.unsplash.com/random/300x300",
  },
  {
    year: "1947",
    title: "Título alusivo ao ano de 1945",
    content: "Alugm texto ou imagem alusivo ao ano de 1945",
    image: "https://source.unsplash.com/random/300x300",
  },
  {
    year: "1950",
    title: "Título alusivo ao ano de 1950",
    content: "Alugm texto ou imagem alusivo ao ano de 1950",
    image: "https://source.unsplash.com/random/300x300",
  },
  {
    year: "1955",
    title: "Título alusivo ao ano de 1955",
    content: "Alugm texto ou imagem alusivo ao ano de 1955",
    image: "https://source.unsplash.com/random/300x300",
  },
  {
    year: "1961",
    title: "Título alusivo ao ano de 1961",
    content: "Alugm texto ou imagem alusivo ao ano de 1961",
    image: "https://source.unsplash.com/random/300x300",
  },
  {
    year: "1964",
    title: "Título alusivo ao ano de 1964",
    content: "Alugm texto ou imagem alusivo ao ano de 1964",
    image: "https://source.unsplash.com/random/300x300",
  },
  {
    year: "1967",
    title: "Título alusivo ao ano de 1967",
    content: "Alugm texto ou imagem alusivo ao ano de 1967",
    image: "https://source.unsplash.com/random/300x300",
  },
];
---

<Layout>
  <div class="max-w-[1280px] mx-auto h-20 flex justify-content items-center">
    <TimeLine items={timeline} />
  </div>
</Layout>

<script>
  const years = document.querySelectorAll('input[type="radio"]') as NodeListOf<HTMLElement>;
  const contents = document.querySelectorAll('[id^="content-"]') as NodeListOf<HTMLElement>;

  years.forEach(item => {
      item.addEventListener("click", (e) => {
        e.preventDefault();
        years.forEach(item => {
            item.classList.remove("animate-ping");
            contents.forEach(item => { 
                item.classList.remove("show");
            })
        });
        if(item.classList.contains("animate-ping")){
            item.classList.remove("animate-ping");
        }else {
            if(e.target.id === item.id) {
                item.classList.add("animate-ping");
                document.querySelector(`#content-${item.id}`).classList.add("show")
            }
        }
    });
  });
</script>
