---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import Layout from "../../layouts/Layout.astro";
import WrapperPages from "../../layouts/WrapperPages.astro";
import TitlePage from "../../components/TitlePage.astro";
---

<Layout title={t("nav.about") + " | " + t("title")}>
  <WrapperPages>
    <div class="prose-lg max-w-[960px] h-full mx-auto my-10">
      <TitlePage titlePage={t("nav.about")} />
      <slot />
    </div>
  </WrapperPages>
</Layout>
