---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import Layout from "../../layouts/Layout.astro";
import WrapperPages from "../../layouts/WrapperPages.astro";
import TitlePage from "../../components/TitlePage.astro";
---

<Layout title={t("nav.contact") + " | " + t("title")}>
  <WrapperPages>
    <div class="box-content">
      <TitlePage titlePage={t("nav.contact")} />
    </div>
    <slot />
  </WrapperPages>
</Layout>