---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import Layout from "../../layouts/Layout.astro";
import WrapperPages from "../../layouts/WrapperPages.astro";
import TitlePage from "../../components/TitlePage.astro";
---

<Layout title={t("nav.ebook") + " | " + t("title")}>
  <WrapperPages>
    <div class="w-full h-full">
      <TitlePage titlePage={t("nav.ebook")} />
      <slot />
    </div>
  </WrapperPages>
</Layout>