---
import { Image } from "astro:assets";
import ebook from "../../assets/images/ebook-cover.png";
import fapemat from "../../assets/images/fapemat.png";
import school from "../../assets/images/escola.png";
import ButtonLink from "../../components/ButtonLink.astro";
---

<div
  class="col-span-2 flex flex-col content-between text-white bg-[#0d1f37]/50 rounded-2xl p-12"
>
  <h2 class="text-[4.5em] font-black uppercase leading-[1.05em]">
    Desbravando o sertão,
  </h2>
  <h3 class="text-[4.5em] font-black uppercase leading-[1.05em]">
    conquistando o Brasil
  </h3>
  <p
    class="my-12 p-4 text-lg text-white text-justify leading-8 bg-[#0d1f37]/75 shadow-inner rounded-lg"
  >
    Este <em>site</em> é um dos produtos resultantes da pesquisa "Desbravando o
    sertão, conquistando o Brasil: a Expedição Roncador Xingu e a Fundação
    Brasil Central em Mato Grosso (1943-1967)", uma investigação acerca da forma
    como se procedeu a Expedição Roncador-Xingu e a atuação da Fundação Brasil
    Central na Expedição dos Irmãos Villas-Boas, realizada no leste de Mato
    Grosso, na região do Vale do Araguaia. Desenvolvida sob a supervisão do
    Prof. Ms. Luiz Gabriel de Souza Nogueira, a pesquisa também contou com a
    participação das estudantes da <a
      href="https://www.instagram.com/escolatiradentesab/"
      class="text-sky-400
      hover:text-stone-400"
      title="Escola Estadual Militar Tiradentes 3° Sgt PM Justino Pinheiro dos Santos"
      target="_blank"
      rel="noreferrer noopener"
      >Escola Estadual Militar Tiradentes 3° Sgt PM Justino Pinheiro dos Santos</a
    >, localizada no município de Água Boa-MT. Esta pesquisa foi financiada com
    recursos da
    <a
      href="https://www.fapemat.mt.gov.br/"
      title="Fundação de Amparo à Pesquisa do Estado de Mato Grosso - Fapemat"
      target="_blank"
      rel="noreferrer noopener"
      class="text-sky-400 hover:text-stone-400"
    >
      Fundação de Amparo à Pesquisa do Estado de Mato Grosso (Fapemat)</a
    >.
  </p>
  <ButtonLink
    link="/sobre-o-projeto"
    text="Saiba mais"
    textColor="text-white"
    bgColor="bg-emerald-500"
    bgHoverColor="hover:bg-emerald-600"
  />
</div>
<div class="relative h-full">
  <div class="grid grid-rows-3 gap-y-8 h-full">
    <div class="row-span-2 flex justify-between items-center gap-x-6 p-4 bg-slate-900/75 rounded-2xl">
      <div>
        <h2 class="text-3xl text-white font-extrabold">E-books nos formatos Epub e PDF</h2>
        <p class="text-white font-medium my-6">
          Ainda como resultado deste projeto, foi elaborado um livro virtual, nos formatos Epub (interativo) e em PDF, cujo
          principal objetivo é o de servir como material pedagógico sobre a expedição e seus impactos no leste de Mato Grosso.
        </p>
        <ButtonLink
          link="/ebooks"
          text="Baixar E-books"
          textColor="text-white"
          bgColor="bg-sky-500"
          bgHoverColor="hover:bg-sky-600"
        />
      </div>
      <div class="book-container py-4">
        <a href="./ebook" class="book-link">
          <Image
            src={ebook}
            alt="E-book"
            title="E-book"
            class="book"
          />
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-between h-full p-4 bg-slate-900/50 rounded-2xl">
      <h3 class="text-white text-center font-bold">Apoiaram este projeto</h3>
      <div class="flex justify-center items-center gap-x-6">
        <a
        href="https://www.fapemat.mt.gov.br/"
        title="Fundação de Amparo à Pesquisa do Estado de Mato Grosso - Fapemat"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Image
          src={fapemat}
          alt="Fundação de Amparo à Pesquisa do Estado de Mato Grosso - Fapemat"
          title="Fundação de Amparo à Pesquisa do Estado de Mato Grosso - Fapemat"
          class="w-24"
        />
      </a>
        <a
        href="https://www.instagram.com/escolatiradentesab/"
        title="Escola Estadual Militar Tiradentes 3° Sgt PM Justino Pinheiro dos Santos"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Image
          src={school}
          alt="Escola Estadual Militar Tiradentes 3° Sgt PM Justino Pinheiro dos Santos"
          title="Escola Estadual Militar Tiradentes 3° Sgt PM Justino Pinheiro dos Santos"
          class="w-24"
        />
      </a>
      </div>
    </div>
  </div>
</div>
