---
import Header from "../../layouts/Header.astro";
import FooterHome from "../../layouts/Header.astro";
import { className } from "../../utils/theme-functions.mjs";
---

<div
  class={className(
    "absolute w-full h-screen bg-roncador bg-no-repeat bg-cover bg-center grid grid-rows-1",
    "bg-fixed before:h-screen before:bg-gradient-to-r before:from-indigo-900",
    "before:via-sky-600 before:to-rose-900 before:mix-blend-hue"
  )}
>
  <div class="relative h-screen grid grid-rows-home-layout">
    <Header />
    <main class="relative container-[1280px] mx-autogrid grid-cols-2 w-full h-[calc(100vh - 128px)}">
      <slot />
    </main>
    <FooterHome />
  </main>
</div>
