---
import LanguageSelector from "../components/LanguageSelector.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { Image } from "astro:assets";
const { linkColor } = Astro.props;
const { bgColor } = Astro.props;
const { logo } = Astro.props;
---

<header class=`w-full h-[100px] shadow-xl ${bgColor}`>
  <nav class="max-w-[1280px] mx-auto px-4 flex justify-between items-center h-full">
    <div class="brand">
      <Image
        src={logo}
        alt="Logo do site Desbravando o Sertão"
      />
    </div>
    <ul class={`list-none flex gap-x-3 text-base font-medium ${linkColor}`}>
      <li>
        <a href={t("navlink.home")}>{t("nav.home")}</a>
      </li>
      <li>
        <a href={t("navlink.about")}>{t("nav.about")}</a>
      </li>
      <li>
        <a href={t("navlink.ebook")}>{t("nav.ebook")}</a>
      </li>      
      <li>
        <a href={t("navlink.experience-reports")}>{t("nav.experience-reports")}</a>
      </li>
      <li>
        <a href={t("navlink.resources")}>{t("nav.resources")}</a>
      </li>
      <li>
        <a href={t("navlink.credits")}>{t("nav.credits")}</a>
      </li>
      <li>
        <LanguageSelector />
      </li>
    </ul>
  </nav>
</header>
