---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { title } = Astro.props;
import "../styles/global-pages.css";
import "../styles/global-theme.css";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  :root {
    --bg-color: hsl(240, 5%, 96%);
  }
  body {
    background-color: var(--bg-color);
    font-family: "CabinetGrotesk-Variable", sans-serif;
  }
</style>
