---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { className } from "../utils/theme-functions.mjs";
import Logo from "../assets/images/logo-home.png";
---

<div
  class={className(
    "absolute w-full h-screen bg-roncador bg-no-repeat bg-cover bg-center grid grid-rows-1",
    "bg-fixed before:h-screen before:bg-gradient-to-r before:from-indigo-900",
    "before:via-sky-600 before:to-rose-900 before:mix-blend-hue"
  )}
>
  <div class="relative h-screen grid grid-rows-[100px_auto_48px]">
    <Header logo={Logo} bgColor="bg-transparent" linkColor="text-white" />
    <main class="grid grid-cols-3 gap-x-8 content-center w-full h-full p-12">
      <slot />
    </main>
    <Footer bgColor="bg-transparent" textColor="text-white" />
  </div>
</div>
