---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Logo from "../assets/images/logo.png";
---

<div class="relative h-screen grid-rows-layout">
  <Header logo={Logo} bgColor="bg-white" linkColor="text-slate-700" />
  <main class="w-full my-16">
    <div class="max-w-full">
      <slot />
    </div>
  </main>
  <Footer bgColor="bg-transparent" textColor="text-slate-700" />
</div>
